body {
  background-image: url("http://cameronmcefee.com/img/work/the-octocat/femalecodercat.jpg");
}

header {
  background-color: yellow;
  border: solid black 2px;
  margin: 30px 20px 10px 20px;
  padding: 20px;
}

.column-1 {
  background-color: pink;
  border: solid black 1px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding: 15px;
}

.column-2 {
  background-color: orange;
  border: solid black 1px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  width: 31%;
  padding: 15px;
}

footer {
  background-color: green;
  border: solid black 1px;
  margin: 20px;
  padding: 15px;
}