#contact-info {
  font-size:.8em;
}

.job {
  background-color:#e9e5dc;
  border-radius:20px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  margin-top:5px;
}

.accomplishment {
  font-size:.8em;
}

#contact-info p:hover {
  font-weight:bold;
}